<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head></head>
<body>
  <div class="container" layout:fragment="content">
    <div class="page-header">
      <div class="row" style="margin-bottom: 2em">
        <div align="center" class="col-lg-12">
          <h1>Evaluation Form</h1>
          <form class="bs-component" style="width: 60%">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="feature-flag-name-input" placeholder="Feature Flag Name" size="50"/>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="feature-flag-identifier-input" placeholder="Identifier (optional)" size="50"/>
              </div>
            </div>
            <span class="input-group-btn">
              <a id="evaluation-anchor" class="btn btn-primary" href="/"><span class="glyphicon glyphicon-equalizer"></span> Evaluate</a>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div layout:fragment="scripts">
    <script src="../js/index.js"></script>
  </div>
</body>
</html>
