<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8" />
  <title>Feature Flags Demo Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" media="screen" />
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body th:inline="text">
  <!-- Navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container" >
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-tasks"></span> Feature Flags - Demo Application</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse"></div>
    </div>
  </div>
  <!-- End Navbar -->

  <!-- Content -->
  <div layout:fragment="content" style="margin-top: 5em"></div>
  <!-- End Content -->

  <!-- Scripts -->
  <div layout:fragment="scripts" th:remove="tag"></div>
  <!-- End Scripts -->
</body>
</html>
